html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.search {
    width: 100%;
    height: 208px;
    background: url('image_36.png') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:70px;
    position: relative;
    /* For absolute children */
    padding: 20px;
}
.search h1{
    color: #fff;
    font-family:'Inter';
    font-weight: 700;
}
.search-box {
    position: relative;
    width: 320px;
    height: 50px;
    border: none;
}



.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    /* border: 2px solid white; */
    /* border-radius: 30px; */
    padding: 10px 55px 10px 20px;
    font-size: 2.2rem;
    color: white;
    /* backdrop-filter: blur(4px); */
    cursor: text;
}


.search input:focus {
    outline: none;
}

.search input:focus+svg .path {
    stroke-dasharray: 961, 363;
    stroke-dashoffset: -363;
}

.search .path {
    stroke-dasharray: 363, 961;
    stroke-dashoffset: 0;
    stroke: #fff;
    stroke-width: 10;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: .5s;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    background: black;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.movie_card {
    position: relative;
    display: block;
    width: 800px;
    height: 350px;
    margin: 100px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}

.movie_card:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}

.movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}

.movie_card .info_section .movie_header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.movie_card .info_section .movie_header h1 {
    color: #fff;
    font-weight: 400;
}

.movie_card .info_section .movie_header h4 {
    color: #9ac7fa;
    font-weight: 400;
}

.movie_card .info_section .movie_header .minutes {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.movie_card .info_section .movie_header .type {
    display: inline-block;
    color: #cee4fd;
    margin-left: 10px;
}

.movie_card .info_section .movie_header .locandina {
    position: relative;
    float: left;
    margin-right: 20px;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.movie_card .info_section .movie_desc {
    padding: 25px;
    height: 50%;
}

.movie_card .info_section .movie_desc .text {
    color: #cfd6e1;
}

.movie_card .info_section .movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.movie_card .info_section .movie_social ul {
    list-style: none;
    padding: 0;
}

.movie_card .info_section .movie_social ul li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.4);
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: 0 10px;
}

.movie_card .info_section .movie_social ul li:hover {
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.8);
}

.movie_card .info_section .movie_social ul li i {
    font-size: 19px;
    cursor: pointer;
}

.movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
}

@media screen and (min-width: 768px) {
    .movie_header {
        width: 60%;
    }

    .movie_desc {
        width: 50%;
    }

    .info_section {
        background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    }

    .blur_back {
        width: 80%;
        background-position: -100% 10% !important;
    }
}

@media screen and (max-width: 768px) {
    .movie_card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }

    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
    }

    .movie_header {
        width: 100%;
        margin-top: 85px;
    }

    .movie_desc {
        width: 100%;
    }

    .info_section {
        background: linear-gradient(to top, #141413 50%, transparent 100%);
        display: inline-grid;
    }
}

/* #bright {
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5); }
  #bright:hover {
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5); }

.bright_back {
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg"); }

#tomb {
  box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6); }
  #tomb:hover {
    box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6); }

.tomb_back {
  background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png"); }

#ave {
  box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
  margin-bottom: 200px; }
  #ave:hover {
    box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7); }

.ave_back {
  background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg"); } */
.si{
    
    display: flex;
    justify-content: center;
}
.container {
  /* position: relati;   you can move this freely */
  margin-left: 20px;
  margin-right: 20px;
  /* transform: translate(150%, -50%); */
}

.btn {
  position: relative;   /* badge sticks to the button */
  background: #121212;
  color: white;
  text-decoration: none;
  padding: 14px 28px;
  display: inline-block;
  border-radius: 8px;
  transition: all .2s ease-in;
}

.btn:hover {
  background: #8274ed;
}

.btn .badge {
  position: absolute;   /* positioned inside the button */
  top: -10px;
  right: -10px;
  padding: 5px 9px;
  border-radius: 50%;
  background: #333;
  color: white;
}
